

{{#each posts as |post|}}
  {{log post}}
  {{log formatDate post.createdAt}}
  <section data-id="{{post.id}}">
    <h3>{{post.title}}</h3>

    <h6>Written By:</h6>
    <p>
      {{#if post.owner.name}}
        {{post.owner.name}}
      {{else}}
        Anonymous Contributor
      {{/if}}
    </p>
    <p>{{ post.postBody }}</p>
    <p>{{ formatDate post.createdAt }}</p>

  </section>



{{/each}}
