{{#each posts as |post|}}

  <section id="{{post.id}}">
    <h3>{{post.title}}</h3>

      {{#if post.owner.name}}
        <h5>Written by: {{post.owner.name}}</h5>
      {{else}}
        <h5>Anonymous Contributor</h5>
      {{/if}}
    </p>
    <p>{{ splitTextFirstHalf post.postBody }}
      <span class="dots">...</span>
      <button class="more-btn" data-num="{{post.id}}">Read More</button>
      <span class="hidden expand">
        {{ splitTextSecondHalf post.postBody }}
      </span>

        <button class="less-btn hidden" data-val="{{post.id}}">Show Less</button>

    </p>
    <p>{{ formatDate post.createdAt }}</p>
    <p>Comments: {{post.comments.length}}</p>
  </section>
{{/each}}
