{{#each posts as |post|}}
  <section class="each-post" id="{{post.id}}">
    <h3 data-title={{post.id}}>{{post.title}}</h3>
      {{#if post.owner.name}}
        <h5>Written by: {{post.owner.name}}</h5>
      {{else}}
        <h5>Anonymous Contributor</h5>
      {{/if}}
    </p>

      {{#if post.longPost}}

    <p class="a-post" data-body={{post.id}}>
      {{ splitTextFirstHalf post.postBody }}
      <span class="dots">...</span>
      <button class="more-btn" data-num="{{post.id}}">Read More</button>
      <span class="hidden expand">
        {{ splitTextSecondHalf post.postBody }}
      </span>
        <button class="less-btn hidden" data-val="{{post.id}}">Show Less</button>

        {{else}}
          {{post.postBody}}
        {{/if}}

    </p>

    <p>{{ formatDate post.createdAt }}</p>
    <p>Comments: <span class="number-comments">{{post.comments.length}}</span></p>


    <div class="comments">
    {{#each post.comments as |comment|}}

    <p><strong>{{comment.postedBy.name}}</strong> says: {{comment.text}}

    {{#if (userPosts comment.postedBy._id)}}
    <button type="button" class="btn btn-danger deleteComment" data-deletecomment="{{comment._id}}">Delete</button>
    {{/if}}
  </p>

    {{/each}}
    <span class="recordblogid" data-recordblogid="{{post.id}}"></span>
  </div>



    {{#if (isLoggedIn)}}
    <form class="add-comment" data-blogid="{{post.id}}">
      <p class="comment-message"></p>
      <input type="text" name="comment" placeholder="Write Comment!" required />
      <input type="submit" value="Add Comment" />
    </form>
    {{else}}
    <p>Log in to Comment!</p>
    {{/if}}

    {{#if (userPosts post.owner._id)}}


    {{/if}}
  </section>
{{/each}}
