{{#each posts as |post|}}
  <section class="each-post" id="{{post.id}}">
    <div class="title-container">
      <div class="post-title"><h3 data-title={{post.id}}>{{post.title}}</h3></div>
      <div class="post-buttons">
      {{#if (userPosts post.owner._id)}}
        <button type="button" class="btn btn-info btn-sm mx-1 update-post" data-update={{post.id}}>Update Post</button>
        <button type="button" class="btn btn-danger btn-sm mx-1 delete-post" data-delete={{post.id}}>Delete Post</button>
      {{else}}
        {{#if (isLoggedIn)}}
          {{#if (alreadyFollows post.owner._id)}}
            <button type="button" class="btn btn-info btn-sm follow-user" disabled>Already Following User</button>
          {{else}}
            <button type="button" class="btn btn-info btn-sm follow-user" data-follow={{post.id}}>Follow Creator</button>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    </div>
    <h5>Written by: {{post.owner.name}}</h5>
    <div class="a-post">
{{#if post.longPost}}
<!-- do not change, it is necessary for formatting -->
<p data-body={{post.id}}>
{{ splitTextFirstHalf post.postBody }}<span class="dots"> . . .</span> <button class="more-btn" data-num="{{post.id}}">Read More</button><span class="hidden expand">{{ splitTextSecondHalf post.postBody }}
      </span>
<button class="less-btn hidden" data-val="{{post.id}}">Show Less</button>

        {{else}}
{{post.postBody}}
        {{/if}}
    </p>
</div>
    <p>{{ formatDate post.createdAt }}</p>
    <hr>
    <div class="likes">
      {{#if (isLoggedIn)}}
        {{#if (alreadyLikes post.id)}}
          <button type="button" class="btn btn-outline-primary btn-sm like-post" disabled>Likes {{post.likes.length}}</button>
        {{else}}
          <button type="button" class="btn btn-outline-primary btn-sm like-post" data-like={{post.id}}>Likes {{post.likes.length}}</button>
        {{/if}}
      {{else}}
        <button type="button" class="btn btn-outline-primary btn-sm" disabled>Likes {{post.likes.length}}</button>
      {{/if}}
      <span>Comments: <span class="number-comments">{{post.comments.length}}</span></span>
    </div>
    <div class="comments">
    {{#each post.comments as |comment|}}
      <p><strong>{{comment.postedBy.name}}</strong> says: {{comment.text}}
        <br>
      {{#if (userPosts comment.postedBy._id)}}
        <button type="button" class="btn btn-info btn-sm mx-1 show-update-comment" data-showupdatecomment="{{comment._id}}">Update</button>
        <div class="update-div hidden">
          <form class="update-comment" data-updatecomment="{{comment._id}}">
            <input type="text" name="comment" value="{{comment.text}}" />
            <input type="submit" value="Edit Comment" />
          </form>
        </div>
        <button type="button" class="btn btn-danger btn-sm mx-1 delete-comment" data-deletecomment="{{comment._id}}">Delete</button>
      {{/if}}
    </p>
    {{/each}}

    <span class="recordblogid" data-recordblogid="{{post.id}}"></span>
    </div>
    {{#if (isLoggedIn)}}
    <form class="form-inline add-comment" data-blogid="{{post.id}}">
      <p class="comment-message"></p>
      <input class="form-control mb-2 mr-sm-2" type="text" name="comment" placeholder="Write Comment!" required />
      <button class="btn btn-primary mb-2" type="submit">Add Comment</button>
    </form>
    {{else}}
    <p>Log in to Comment!</p>
    {{/if}}
  </section>
{{/each}}
